 *,
 *::before,
 *::after {
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
     color: white;
     font-family: sans-serif;
 }
 body {
     margin: 20px 0;
     background: black;
     text-align: center;
 }
 #score {
     height: 22px;
     width: 22px;
     margin: auto;
 }
 #cardsWrapper {
     margin: auto
 }
 .grid {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -ms-flex-wrap: wrap;
     flex-wrap: wrap;
     width: 100%;
     height: 500px;
     margin: 0 auto;
     -webkit-box-pack: space-evenly;
     -ms-flex-pack: space-evenly;
     justify-content: space-evenly;
 }
 .card {
     position: relative;
     height: 24%;
     width: 19%;
     -webkit-transition: all .4s linear;
     -o-transition: all .4s linear;
     transition: all .4s linear;
     -webkit-transform-style: preserve-3d;
     transform-style: preserve-3d;
 }
 .front,
 .back {
     height: 100%;
     width: 100%;
     -webkit-backface-visibility: hidden;
     backface-visibility: hidden;
     position: absolute;
 }
 .front {
     background: #05faf9;
     cursor: pointer;
 }
 .back {
     -webkit-transform: rotateY(180deg);
     transform: rotateY(180deg);
     background-color: #05faf9;
     background-size: contain;
     background-repeat: no-repeat;
     background-position: center center;
 }
 .selected {
     -webkit-transform: rotateY(180deg);
     transform: rotateY(180deg);
 }
 .match .front {
     background: black !important;
 }
 #end {
     position: fixed;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-align: center;
     -ms-flex-align: center;
     align-items: center;
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     justify-content: center;
     top: 0;
     bottom: 10px;
     left: 10px;
     right: 10px;
     background: black;
     display: none;
 }
 #end h1 {
     color: #05faf9;
 }
 @media (min-width:1000px) {
     .grid {
         padding: 10px 150px;
     }
 }
 @media (max-height:600px) {
     .grid {
         height: 400px;
     }
 }

 @media (max-width:400px) {
     .grid {
        margin-top: 16px;
     }
 }


